.cont {
  background-color: #fff;
  width: 100%;
  height: 100vh;
  display: flex;

  .box1,
  .box2 {
    width: 100%;
    height: 120vh;
  }
  .box1 {
    background-color: red;
  }
  .box2 {
    background-color: green;
    position: relative;
    p {
      position: sticky;
      left: 0;
      top: 0;
    }
  }
}
